// ************************ Модальное окно ************************ //

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 10% auto;
  padding: 70px;
  width: 80%;
  max-width: 1330px;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media (max-width: $breakpoint1450) {
    padding: 40px;
  }


  @media (max-width: $breakpoint992) {
    padding: 30px;
  }

  @media (max-width: $breakpoint768) {
    width: 96%;
  }
}

.modal.show .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;


  @media (max-width: $breakpoint992) {
    top: 10px;
    right: 10px;

    svg {
      width: 70%;
      height: 70%;
    }
  }

  @media (max-width: $breakpoint768) {
    svg {
      width: 50%;
      height: 50%;
    }
  }
}

.modal {}

.modal-content {

  h2 {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 156.8px;
    letter-spacing: 2px;
    color: #4F4F4F;
    font-size: 100px;
    line-height: 120px;

    @media (max-width: $breakpoint1450) {
      font-size: 60px;
      line-height: 80px;
    }


    @media (max-width: $breakpoint992) {
      font-size: 40px;
      line-height: 48px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 30px;
      line-height: 38px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.price-list {}

.price-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background: rgba(241, 2, 131, 0.04);
  color: #840036;
  font-size: 31px;
  text-transform: uppercase;


  @media (max-width: $breakpoint992) {
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 16px;
    line-height: 20px;

    svg {}
  }
}

.price-list__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;


  @media (max-width: $breakpoint992) {
    row-gap: 10px;
  }
}

.price-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 10px;
}

.price-list__item-text {
  color: #111021;
  font-size: 30px;
  line-height: 36px;

  @media (max-width: $breakpoint1450) {
    font-size: 20px;
    line-height: 24px;
  }


  @media (max-width: $breakpoint992) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 16px;
    line-height: 20px;
  }
}

.price-list__item-sum {
  white-space: nowrap;
  font-weight: 800;
  color: #111021;
  text-align: right;
  font-size: 40px;
  line-height: 48px;

  @media (max-width: $breakpoint1450) {
    font-size: 30px;
    line-height: 38px;
  }


  @media (max-width: $breakpoint992) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 18px;
    line-height: 20px;
  }
}

.modal-content__descr {
  margin-bottom: 30px;
  color: #111021;
  font-size: 30px;
  line-height: 38px;

  @media (max-width: $breakpoint992) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 16px;
    line-height: 20px;
  }
}

.modal-content__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  width: fit-content;
  background: linear-gradient(249.81deg, #F10283 -1.87%, #FF0048 52.63%, #840036 119.83%);
  outline: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;

  // transition: background 0.2s linear;

  &:hover {
    background: #D2003B;
  }

  @media (max-width: $breakpoint992) {
    padding: 20px;
  }

  @media (max-width: $breakpoint768) {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }
}